body {
	background:#3a3a3a;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

p {
	margin:0px;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}

h3 {
	font-family: Courier New," Courier", monospace;
	font-size: 20px;
	font-style: oblique;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bolder;
	list-style-type: none;
	cursor:pointer;
	margin:0px;
	padding:0px;
	padding-top:16px;
	padding-right:55px;
	margin:0px;
	padding-bottom:16px;
	
}
#pa h3 {
	padding-right:70px;
}

#Contents{
	width:100%;
	min-height:100%;
	min-width:900px;
	position:absolute;
	top:0px;
	left:0px;
	
}

#Header {
	background:url(../img/Header.jpg) no-repeat;
	background-color:#3a3a3a;
	height:92px;
}

#Container {
	background:#3a3a3a;
	height:400px;
	width:100%;
	margin-bottom:70px;
}
#Space {
	float:left;
	width:52px;
	height:350px;
}

#Manu {
	width:auto;
	height:auto;
	float:left;
	padding:0px;
	margin:0px;
}

#List {
	float:left;
	padding:0px;
	margin:0px;
}

#ManuHead {
	background:url(../img/Manu-Head.jpg);
	width:222px;
	height:67px;
}

#ManuLines {
	width:222px;
	height:230px;
}


/* ----------------------------------------------------------------------------------------------------------------*/


.Buttons {
	background:url(../img/Manu-Lines.jpg);
	width:222px;
	height:46px;
	float:left;
	padding:0px;
	margin:0px;
	text-align:right;
	list-style-type:none;
}



.On {
	background:url(../img/Manu-Lines-onclick.png);
	width:222px;
	height:46px;
	float:left;
	padding:0px;
	margin:0px;
	text-align:right;
	list-style-type:none;
}


#ManuFoot {
	background:url(../img/Manu-Foot.jpg) no-repeat;
	width:222px;
	height:50px;

}

#VLine{
	width:auto;
	height:auto;
	float:left;
	
}

#UpCorner {
	background:url(../img/Up-Corner.jpg);
	width:17px;
	height:32px;
}

#VerticalLine {
	background:url(../img/Vertical-Line.jpg);
	width:17px;
	height:367px;
}

#DownCorner {
	background:url(../img/Down-Corner.jpg);
	width:17px;
	height:17px;
}

#Block {
	margin-left:291px;
	height:100%;
}

#UpLine {
	background:url(../img/Up-Line.jpg);
	width:100%;
	height:6px;
}

#Text {
	
	background:#FFF;
	height:400px;
	position:relative;
	overflow:hidden;
}

#info {
	height:1600px;
	top:30px;
	left:30px;
	position:relative;
	z-index:5;
	width:500px;
}



#img {
	position:absolute;
	
	right:0px;
	top:155px;
	background:url(../img/img.jpg);
	width:334px;
	height:340px;
	z-index:1;
}

#DownLine {
	background:url(../img/Down-Line.jpg);
	width:100%;
	height:6px;
	
}

#Footer {
	background:url(../img/Footer-Background.jpg);
	position:absolute;
	bottom:0px;
	height:53px;
	width:100%;
}


#CopyRights {
	background:url(../img/CopyRights.jpg);
	float:right;
	margin-top:9px;
	width:457px;
	height:33px;
}

#Validations {
	margin-right:5px;
	margin-top:18px;
	float:right;
	width:150px;
	height:27px;
}

#ball {
	position:absolute;
	background:url(../img/Arrow.png);
	float:left;
	margin:0px;
	padding:0px;
	width:57px;
	height:32px;
	left:222px;
	top: 169px;
}

